$scrollbar-track: #bfbfbf !default;
$scrollbar-thumb: #8B8B8B !default;
$scrollbar-thumb-inactive: #aaa !default;


@mixin mini-scrollbar(
  $width: 4px,
  $height: 12px,
  $track: $scrollbar-track,
  $thumb: $scrollbar-thumb,
  $inactive: $scrollbar-thumb-inactive
) {

  &::-webkit-scrollbar {
    width: $width;
    height: $height;
  }
  &::-webkit-scrollbar-track {
    background: $track;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background: $thumb;
    border-radius: 10px;
    &:window-inactive {
      background: $inactive;
    }
  }
}